
h1{
    text-align: center;
}

.main-container{
    display: flex;
}

.container-form{
    background-color:lightgray;
    padding: 10px ;
    
}

.container-item{
    border: 1px;
    width:100%;
    padding: 24px;
    text-align:justify;
}

.container-result{
    text-align:center;
    background-color:lightgray;
    padding: 10px;
    
}

#calculate-button, #download-result{
    background-color:dodgerblue;
    color: white;
}

#keunggulanFitur{
    margin-left: 0px ;
}